@import url("https://fonts.googleapis.com/css2?family=IBM Plex Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
    font-family: "IBM Plex Sans";
    overflow-x: hidden;
    margin: 0;
    background-color: #f0eded;
}

.main-container {
    position: relative;
    background-image: url("assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position-y: 40%;
    background-position-x: center ;
    background-color: white;
    max-width: 1500px;
    margin: auto;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

.title-bg-pattern {
    position: absolute;
    right: 0;
    top: -40px;
}

.logo {
    margin-bottom: 70px;
}

.title-and-description-container {
    width: 870px;
    margin-bottom: 300px;
}

.title {
    font-size: 88px;
    line-height: 88px;
    margin-bottom: 50px;
}

.description {
    font-size: 20px;
    line-height: 34px;
}

.premium-eq-section {
    position: relative;
    background-color: #191826;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 200px;
}

.phone-image {
    position: absolute;
    top: -200px;
    left: 110px;
    width: 310px;
}

.premium-bg-pattern {
    position: absolute;
    left: 340px;
    top: -40px;
}

.premium-desription-container {
    background-color: #FA7453;
    width:530px;
    position: absolute;
    top: 101px;
    right: 120px;
    border-radius: 10px;
    padding: 50px;
}

.premium-title {
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: 30px;
}

.premium-description {
    color: #FCFAF9;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
}

.price-per-month {
    display: flex;
    align-items: center;
    color: #f0eded;
    font-size: 20px;
    margin-bottom: 30px;
}

.price {
    font-size: 88px;
    font-weight: 900;
    margin-right: 20px;
}

.ios-button {
    background-color: #191826;
    color: #f0eded;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all .5s ease;
}

.ios-button:hover {
    cursor: pointer;
    background-color: #66E2DC;
}

.ios-logo,
.android-logo {
    margin-right: 5px;
}

.android-button {
    background-color: #f0eded;
    color: #191826;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s ease;
}

.android-button:hover {
    background-color: #FFB964;
    cursor: pointer;
}

.footer {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo-and-contact {
    display: flex;
    align-items: flex-start;
}

.footer-logo {
    margin-right: 100px;
}

.contact {
    width: 410px;
    font-size: 20px;
    letter-spacing: -.5px;
    font-weight: 400;
    color: #191826;
}

.email {
    font-weight: 700;
}

.footer-icons {
    display: flex;
    align-items: center;
    
}

.facebook-icon,
.instagram-icon {
    margin-right: 20px;
}

.icon {
    fill: #191826;
    transition: all .5s ease;
}

.icon:hover {
    cursor: pointer;
    fill: #FA7453;
}

