@import url("https://fonts.googleapis.com/css2?family=IBM Plex Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
    font-family: "IBM Plex Sans";
    overflow-x: hidden;
    margin: 0;
    background-color: #f0eded;
}

.main-container {
    position: relative;
    background-image: url("assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position-y: 40%;
    background-position-x: center ;
    background-color: white;
    max-width: 1500px;
    margin: auto;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

.title-bg-pattern {
    position: absolute;
    right: 0;
    top: -40px;
}

.logo {
    margin-bottom: 70px;
}

.title-and-description-container {
    width: 870px;
    margin-bottom: 300px;
}

.title {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-bottom: 50px;
}

.description {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
}

.premium-eq-section {
    position: relative;
    background-color: #191826;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 200px;
}

.phone-image {
    position: absolute;
    top: -200px;
    left: 110px;
    width: 310px;
}

.premium-bg-pattern {
    position: absolute;
    left: 340px;
    top: -40px;
}

.premium-desription-container {
    background-color: #FA7453;
    width:530px;
    position: absolute;
    top: 101px;
    right: 120px;
    border-radius: 10px;
    padding: 50px;
}

.premium-title {
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: 30px;
}

.premium-description {
    color: #FCFAF9;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
    letter-spacing: 0px;
}

.price-per-month {
    display: flex;
    align-items: center;
    color: #f0eded;
    font-size: 20px;
    margin-bottom: 30px;
}

.price {
    font-size: 88px;
    font-weight: 900;
    margin-right: 20px;
}

.ios-button {
    background-color: #191826;
    color: #f0eded;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all .5s ease;
}

.ios-button:hover {
    cursor: pointer;
    background-color: #66E2DC;
}

.ios-logo,
.android-logo {
    margin-right: 5px;
}

.android-button {
    background-color: #f0eded;
    color: #191826;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s ease;
}

.android-button:hover {
    background-color: #FFB964;
    cursor: pointer;
}

.footer {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo-and-contact {
    display: flex;
    align-items: flex-start;
}

.footer-logo {
    margin-right: 100px;
}

.contact {
    width: 410px;
    font-size: 20px;
    letter-spacing: -.5px;
    font-weight: 400;
    color: #191826;
}

.email {
    font-weight: 700;
}

.footer-icons {
    display: flex;
    align-items: center;
    
}

.facebook-icon,
.instagram-icon {
    margin-right: 20px;
}

.icon {
    fill: #191826;
    transition: all .5s ease;
}

.icon:hover {
    cursor: pointer;
    fill: #FA7453;
}

/* --------------Media queries------------- */


/* Tablet design */

@media only screen and (max-width:1300px) {

    .main-container {
        background-image: url('assets/bg-main-tablet.png');
        background-size: 124vw 120vw;
        background-position-y: -9%;
        background-position-x: 78%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .title-bg-pattern {
        width: 270px;
    }

    .title-and-description-container {
        width: 500px;
    }

    .title {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.73px;
    }

    .description {
        font-size: 18px;
        line-height: 28px;
    }

    .premium-desription-container {
        width: 380px;
        padding: 30px;
        top: 184px;
        right: 64px;
    }

    .phone-image {
        left: 60px;
        top: -158px;
    }

    .premium-bg-pattern {
        left: 245px;
    }

    .premium-description {
        font-size: 18px;
        line-height: 28px;
    }

    .logo-and-contact {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 25px;
    }
}

/* Mobile design */

@media only screen and (max-width: 725px) {

    .main-container {
        background-image: url('assets/bg-main-mobile.png');
        background-position-y: -13%;
        background-position-x: -43%;
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        margin-left: 20px;
    }

    .title-bg-pattern {
        display: none;
    }

    .title-and-description-container {
        width: 95%;
        margin: auto;
        margin-bottom: 300px;
    }

    .title {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.45px;
    }

    .premium-eq-section {
        background-image: url('assets/bg-pattern-2.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 550px;
    }

    .premium-desription-container {
        width: 100%;
        padding: 30px;
        position: relative;
        left: 0;
        top: 500px;
    }

    .premium-bg-pattern {
       display: none;
    }

    .phone-image {
        width: 50%;
        left: 25%;
    }

    .footer {
        flex-direction: column;
    }

    .logo-and-contact {
        margin-bottom: 60px;
        width: 95%;
    }

    .footer-logo {
        margin-right: 0;
    }

    .contact {
        width: 95%;
    }

    .email {
        display: block;
    }

    .footer-icons {
        width: 95%;
        text-align: left;
        
    }

}